*{margin:0;padding:0;}

title{font-family: san serif;}
* {
  box-sizing: border-box;
}
body {
  font-family:times-new-roman;
  min-width:900px;
  background-image: url(img/bg1.jpg);
  background-size:100%;
}

.row{  padding-left: 40px;
  padding-right: 40px;}
#faveicon{float:left;
          width:150px;
		  height:53.5px;}
.topnav {
height:53.5px;
  overflow: hidden;
  background-color: white;
}
.icon-active {background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:#f1f1f1;
   padding: 10px;}
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.center{display:block;
margin-left:auto;
margin-right:auto;
width:50%;}
h5 {
background-color: #ddd;
color: #333;
padding: 5px;
}
.header {
 background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:#f1f1f1;
   padding: 15px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.leftcolumn {   
  padding-left:18px;
  width: 72%;
}
 #slideimg {width: 100%;
             height: auto;}
.rightcolumn {
  float: left;
  width: 27%;
  padding-left: 20px;
}
button{
border-radius:5px;
padding:15px;
background-image: linear-gradient(180deg, grey, white);
}
.submit{
height:40px;
width:100px;
border-radius:5px;
padding:10px;
background-color;white;
}
i{padding:15px;}
#eimg {
  width: 145px;
  height: 80px;
}
.bgimg {
 background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:white;
   padding: 10px;
   margin-top: 10px;
}
small{font-weight:normal;
font-size:15px;}
h4 {
background-color: #ddd;
color: #333;
padding: 10px;
}
h3 {
  background-color:#ddd;
  color:#333;
   padding: 10px;
   margin-top: 10px;
}
.h3 {
   background-color:#ddd;
   color:#333;
   padding: 10px;
   margin-top: 10px;
}
.card {
   padding: 10px;
    background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:#f1f1f1;
   margin-top: 5px;
}
.ncard {
   background-color: ;
 float: left;
  width: 20%;
  height:220px;
  padding: 10px;
margin-top:5px; 
 background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:#f1f1f1;
}

#sn1{width:49%;
float:left;
}
#sn{width:49%;
float:right;}
.ncard2 {
   background: rgb(0,0,0);
   background:rgba(0,0,0,0.5);
   color:white;
   padding: 10px;
   margin-top: 20px;
 float: left;
  width: 20%;
  height:200px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h6{color:white;
margin-top:10px;
margin-botttom:10px;}
#imgrs{width: 70px;
      height: 36px;}
#slider{
  width:100%;
  height:400px;
  position:relative;
  overflow:hidden;}@keyframes load{
  from{left:-100%;}
  to{left:0;}
}.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;}.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;}.slide img{
  width:100%;
  height:100%;}.image{
  width:100%;
  height:100%;
}.image img{
  width:795px;
  height:auto;
}.legend{
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;}.content-txt{
	        padding: 5px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
  width:400px;
  height:auto;
  float:left;
  position:relative;
  top:250px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;}.content-txt h2{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:5px;}.content-txt p{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;}.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:1px;
  z-index:99;
  left:30px;}.switch > ul{list-style:none;}.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;}.switch ul{
  overflow:hidden;}.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:white;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;} @-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;}
  21%{
    margin-left:0%;}
  25%{
    margin-left:-100%;}
  46%{
    margin-left:-100%;}
  50%{
    margin-left:-200%;}
  71%{
    margin-left:-200%; }
  75%{
    margin-left:-300%;}
  96%{
    margin-left:-300%;}} @-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;}}@keyframes slide{
  0%,100%{
    margin-left:0%; }
  21%{
    margin-left:0%;}
  25%{
    margin-left:-100%;}
  46%{
    margin-left:-100%;}
  50%{
    margin-left:-200%;}
  71%{
    margin-left:-200%;}
  75%{
    margin-left:-300%;}
  96%{
    margin-left:-300%;}}@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
} @-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}} @-webkit-keyframes on{0%,100%{
    margin-left:0%;}
  20%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  45%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  70%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  90%{
    margin-left:45px;
  }}@-moz-keyframes on{ 0%,100%{
    margin-left:0%;}
  20%{
    margin-left:0%;}
  25%{
    margin-left:15px;} 45%{
    margin-left:15px;}50%{
    margin-left:30px;}70%{
    margin-left:30px;}75%{
    margin-left:45px;}90%{
    margin-left:45px;}} @keyframes on{
  0%,100%{ margin-left:0%;}
  20%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  45%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  70%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  90%{
    margin-left:45px;
  }
} @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/* main */
/* Reset */
a{text-decoration:none;color:inherit;}
html{width:100%;height:100%;}
